<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" #navBar  >
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">
        <i class="fa-solid fa-cart-shopping category fa-xl"></i>
        Fresh Cart</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav m-auto" >
          <li class="nav-item">
            <a class="nav-link" *ngIf="isLogin" routerLinkActive="active" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="isLogin"  routerLink="/product">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="isLogin"  routerLink="category_list">Category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="isLogin"  routerLink="brands">Brands</a>
          </li>
        </ul>
  
        <ul class="navbar-nav ms-auto">
       
  
          <li class="nav-item">
            <a class="nav-link" *ngIf="!isLogin"  routerLink="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="!isLogin"  routerLink="signup">Register</a>
          </li>
          <li class="nav-item">
            <span class="cursor-pointer nav-link" *ngIf="isLogin"  (click)="logOut()">LogOut</span>
          </li>
  
        </ul>
  
      </div>
    </div>
  </nav>