<h3>{{productDetails.title}}</h3>
<div class="row py-4">
    <div class="col-md-4">
        <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let slide of productDetails?.image">
              <ng-template carouselSlide >
                <img [src]="slide" alt="clothes" class="w-100">
              </ng-template>
            </ng-container>
      
          </owl-carousel-o>
        <img class="w-100" src="{{productDetails.image}}" alt="">
    </div>
    <div class="col-md-8">
        <h2 class="h4 fw-boldder mb-2">{{productDetails.title}}</h2>
        <p class="text-muted p-3  ">{{productDetails.description}}</p>
        <div class="d-flex align-items-center justify-content-between">
            <span class="text-muted fw-bold font-sm">{{productDetails.price}} EGP</span>
            <div>
                <i class="fas fas-star rating-color"></i>
                <span class="text-muted fw-bold font-sm">{{productDetails.rating.rate}}</span>
            </div>
           
        </div>
    </div>
</div>
